<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
</header>

<%= form_with model: @prof,class: 'profile-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      プロフィール
    </h1>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
    <label class="user-name-text"><%= current_user.name %></label>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">趣味</label>
      <span class="indispensable">例：サッカー、音楽鑑賞</span>
    </div>
    <%= f.text_area :hobby, class:"input-default", id:"user-hobby", placeholder:"サッカー、音楽鑑賞" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">コメント</label>
      <span class="indispensable">何か一言！</span>
    </div>
    <%= f.text_area :comment, class:"comment-form", id:"user-comment", placeholder:"例) よろしくお願いします！", maxlength:"40" %>
    <p class='info-text'>※ 両項目とも必須です</p>
  </div>

  <div class='register-btn'>
    <%= f.submit "プロフィールを保存する" ,class:"register-red-btn" %>
  </div>
  
</div>
<% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フリマ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎Furima,Inc.
    </p>
  </footer>
</div>